In [1]:
!python -m pip install sklearn

Requirement already satisfied: sklearn in c:\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python\python36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.4)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'C:\Python\Python36\python.exe -m pip install --upgrade pip' command.

In [2]:
import sklearn

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd

In [5]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 647D-E8EF

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:03            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  13,172,555,776 바이트 남음

In [6]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
pd_data.shape     # shape는 쓸 필요가 없을 것 같다. 바로 위 맨 아래에 같은 정보가 나온다.

(398, 9)

In [8]:
pd_data.info()        # 결측치의 존재여부를 알아보기 위해 info() 를 쓴다. 
# 행은 398개로 결측치는 없으나 Dtype을 보면 문제가 있다. 여기에서 주목할 것은 objcet다. 원데이터를 보면 중간에 ?가 들어가있는 것을 볼 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [9]:
pd_data.describe()    # 판다스에서 describe()는 DataFrame 의 간단한 통계 정보를 보여준다. 
# 데이터의 갯수(count), 데이터의 평균값(mean), 표준 편차(std), 최소값(min), 4분위수(25%, 50%, 75%), 최대값(max)

,0,1,2,4,5,6,7
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [10]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [11]:
x = pd_data[['weight', 'cylinders']]

In [12]:
y = pd_data[['mpg']]

In [13]:
x.shape, y.shape    # 행의 갯수가 동일한지 확인한다.

((398, 2), (398, 1))

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [16]:
from sklearn.linear_model import LinearRegression   # 데이터를 가장 잘 대표하는 하나의 직선을 찾는 것이 바로 Linear Regression

통계학에서, 선형 회귀(線型回歸, 영어: linear regression)는 종속 변수 y와 한 개 이상의 독립 변수 (또는 설명 변수) X와의 선형 상관 관계를 모델링하는 회귀분석 기법이다. 한 개의 설명 변수에 기반한 경우에는 단순 선형 회귀(simple linear regression), 둘 이상의 설명 변수에 기반한 경우에는 다중 선형 회귀라고 한다. 선형 회귀는 선형 예측 함수를 사용해 회귀식을 모델링하며, 알려지지 않은 파라미터는 데이터로부터 추정한다. 이렇게 만들어진 회귀식을 선형 모델이라고 한다.

In [17]:
lr = LinearRegression()

In [18]:
# lr.fit(x,y)
lr.fit(X_train,Y_train)

LinearRegression()

coef : Coefficient, 가중치(계수, 기울기 파라미터)
intercept : 절편 파라미터

In [19]:
# split data with 1 colum
lr.coef_, lr.intercept_

(array([[-0.00672993, -0.51684671]]), array([46.33928864]))

y = -0.00672993x_1 + -0.51684671x_2 + 46.33928864

In [21]:
# check with total data
lr.score(x,y)

0.6960727917464342

In [22]:
# check with a part of train data                 score는 정확도를 의미한다. 
lr.score(X_train,Y_train)

0.7019597833778314

In [23]:
# check with a part of test data
lr.score(X_test,Y_test)

0.678211110752007

서비스하는 단계

In [24]:
# weight cylinders
lr.predict([[3504.0,8]])

array([[18.62284101]])

In [25]:
# 2790.0, 4
lr.predict([[2790.0, 4]])

array([[25.49539771]])

In [27]:
(-0.00672993*2790.0) + (-0.51684671*4) + 46.33928864

25.495397099999998

In [28]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [29]:
import pickle

In [31]:
pickle.dump(lr, open('./saves/autompglr.pkl','wb'))