In [2]:
!ls

sample_data  Wholesale_customers_data.csv

In [3]:
!ls -l                   # 자세히 볼 때는 -l을 추가, 맨 앞의 d는 폴더(디렉토리)라는 뜻. ls는 list의 약자

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  5 23:04 Wholesale_customers_data.csv

In [4]:
!pwd           # 현재 폴더

/content

In [5]:
!ls -l ./sample_data       # 맨 앞의 -은 파일이라는 뜻

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [9]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  5 23:04 Wholesale_customers_data.csv

In [10]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  5 23:04 ./Wholesale_customers_data.csv

In [12]:
import pandas as pd
df = pd.read_csv('./Wholesale_customers_data.csv')
df

     Channel  Region  Fresh  ...  Frozen  Detergents_Paper  Delicassen
0          2       3  12669  ...     214              2674        1338
1          2       3   7057  ...    1762              3293        1776
2          2       3   6353  ...    2405              3516        7844
3          1       3  13265  ...    6404               507        1788
4          2       3  22615  ...    3915              1777        5185
..       ...     ...    ...  ...     ...               ...         ...
435        1       3  29703  ...   13135               182        2204
436        1       3  39228  ...    4510                93        2346
437        2       3  14531  ...     437             14841        1867
438        1       3  10290  ...    1038               168        2125
439        1       3   2787  ...      65               477          52

[440 rows x 8 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [14]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
data = pd.DataFrame(mydict)
data

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [15]:
data.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [16]:
data.iloc[0,1]

2

In [17]:
data.iloc[1,2]

300

In [19]:
data.iloc[1:,2:]

      c     d
1   300   400
2  3000  4000

In [20]:
data.iloc[1:3,2:4]

      c     d
1   300   400
2  3000  4000

In [21]:
data.loc[1:3,'c':'d']

      c     d
1   300   400
2  3000  4000

In [22]:
data.iloc[:,1:3]

      b     c
0     2     3
1   200   300
2  2000  3000

In [23]:
data.loc[:,'b':'c']

      b     c
0     2     3
1   200   300
2  2000  3000

In [26]:
dt = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
dt

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [28]:
dt.loc['cobra','shield']

2

In [30]:
dt.loc['cobra':'viper','max_speed':'shield':]

       max_speed  shield
cobra          1       2
viper          4       5