In [1]:
import sklearn

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

In [4]:
!dir .\files\train.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 647D-E8EF

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-30  오후 04:38       109,348,477 train.csv
               1개 파일         109,348,477 바이트
               0개 디렉터리  12,214,038,528 바이트 남음

In [5]:
pd_data = pd.read_csv('./files/train.csv')
pd_data

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24,2016-03-14 17:32,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 0:43,2016-06-12 0:54,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35,2016-01-19 12:10,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32,2016-04-06 19:39,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30,2016-03-26 13:38,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1048570,id0002921,1,2016-04-06 14:16,2016-04-06 14:20,1,-73.973015,40.760948,-73.976387,40.755604,N,207
1048571,id1329189,2,2016-03-24 1:26,2016-03-24 1:38,1,-73.985550,40.727257,-73.957039,40.712387,N,740
1048572,id0408460,1,2016-02-23 16:38,2016-02-23 16:48,1,-73.972038,40.750202,-73.998360,40.733360,N,605
1048573,id0147762,1,2016-05-24 7:20,2016-05-24 7:25,1,-73.993332,40.724342,-74.004250,40.707470,N,287
1048574,id0859354,2,2016-03-15 22:00,2016-03-15 22:19,1,-73.988060,40.759548,-74.005585,40.711521,N,1169

In [6]:
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1048575 non-null  object
 1   vendor_id           1048575 non-null  int64
 2   pickup_datetime     1048575 non-null  object
 3   dropoff_datetime    1048575 non-null  object
 4   passenger_count     1048575 non-null  int64
 5   pickup_longitude    1048575 non-null  float64
 6   pickup_latitude     1048575 non-null  float64
 7   dropoff_longitude   1048575 non-null  float64
 8   dropoff_latitude    1048575 non-null  float64
 9   store_and_fwd_flag  1048575 non-null  object
 10  trip_duration       1048575 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 88.0+ MB

In [7]:
x = pd_data[['pickup_latitude', 'dropoff_latitude']]

In [8]:
y = pd_data[['trip_duration']]

In [9]:
x.shape, y.shape

((1048575, 2), (1048575, 1))

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((786431, 2), (262144, 2), (786431, 1), (262144, 1))

In [17]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [25]:
lr.fit(X_train, Y_train)

LinearRegression()

In [26]:
lr.coef_, lr.intercept_

(array([[-3899.48523904, -1173.03580518]]), array([207675.92436049]))

In [27]:
lr.score(X_train,Y_train)

0.0006598619333791911

In [28]:
lr.score(X_test,Y_test)

0.001033089827706224

In [29]:
lr.predict([[40.738564,40.731152]])

array([[1037.39570045]])

In [30]:
lr.predict([[40.727257,40.712387]])

array([[1103.49919693]])

In [31]:
(-3899.48523904*40.727257) + (-1173.03580518*40.712387) + 207675.92436049

1103.4991970567207

In [32]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [33]:
import pickle

In [34]:
pickle.dump(lr,open('./saves/kaggle_train.pkl','wb'))

In [36]:
y_predict= lr.predict(X_train)
y_predict.shape,Y_train.shape

((786431, 1), (786431, 1))

In [38]:
y_result = Y_train - y_predict
y_result

        trip_duration
881776    -626.944067
375413      23.245858
824247       1.519597
18570     2656.818205
141940    -483.004993
...               ...
2889       -91.410973
459753     -65.827355
977401     311.660864
489961    -220.202930
244919    -821.857300

[786431 rows x 1 columns]