<a href="https://colab.research.google.com/github/victoria2012/test_machinelearning/blob/master/wholesale_decisiontreeclassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!ls

sample_data  Wholesale_customers_data.csv

In [11]:
!ls -l                   # 자세히 볼 때는 -l을 추가, 맨 앞의 d는 폴더(디렉토리)라는 뜻. ls는 list의 약자

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  6 09:20 Wholesale_customers_data.csv

In [12]:
!pwd           # 현재 폴더

/content

In [13]:
!ls -l ./sample_data       # 맨 앞의 -은 파일이라는 뜻

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [14]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  6 09:20 Wholesale_customers_data.csv

In [15]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  6 09:20 ./Wholesale_customers_data.csv

In [39]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      0
1             1        2       3  ...              3293        1776      0
2             2        2       3  ...              3516        7844      0
3             3        1       3  ...               507        1788      2
4             4        2       3  ...              1777        5185      0
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      2
436         436        1       3  ...                93        2346      2
437         437        2       3  ...             14841        1867      0
438         438        1       3  ...               168        2125      2
439         439        1       3  ...               477          52      2

[440 rows x 10 columns]

In [41]:
Y = df['label']
X = df.iloc[:,1:-1]
Y.shape, X.shape

((440,), (440, 8))

In [43]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
dtree.score(X,Y)

1.0